<br>
<app-timer (TimerExpired)="submit($event)" [isSubmited]="isSubmited"></app-timer>

<div class="privew" *ngIf="question != undefined">
    <div class="questionsBox">
        <div class="questions">{{question.question}}</div>
        <ul class="answerList">
            <li *ngIf="question.option1 != null">
                <label>
                    <input type="radio" name="answerGroup" [(ngModel)]="answer" value="0">{{" " + question.option1}}</label>
            </li>
            <li *ngIf="question.option2 != null">
                <label>
                    <input type="radio" name="answerGroup" [(ngModel)]="answer" value="1">{{" " + question.option2}}</label>
            </li>
            <li *ngIf="question.option3 != null">
                <label>
                    <input type="radio" name="answerGroup" [(ngModel)]="answer" value="2">{{" " + question.option3}}</label>
            </li>
            <li *ngIf="question.option4 != null">
                <label>
                    <input type="radio" name="answerGroup" [(ngModel)]="answer" value="3">{{" " + question.option4}}</label>
            </li>
        </ul>
        

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <button *ngIf="(increment + 1)< Questions.length" (click)="next()" class="nav-item btn btn-outline-success active" >NextQuestion</button>
                <button *ngIf="(increment + 1) == Questions.length" (click)="submit()" class="nav-item btn btn-outline-success active" >Submit</button>
              </div>
            </div>
            <span class="navbar-text mr-2 questionsRow">{{(increment + 1)+ " of " + Questions.length }}</span>
          </nav>
        
    </div>
</div>




