
<div class="container">
    <br>
    <div class="row justify-content-center">
    <div class="col-md-6">
    <div class="card">
    <header class="card-header">
        <a routerLink="/" class="float-right btn btn-outline-primary mt-1">Log in</a>
        <h4 class="card-title mt-2">Sign up</h4>
    </header>
    <article class="card-body">
    <form #form="ngForm" (ngSubmit)="register()" [appMatchPassword]="['password', 'confirmPassword']">
        <div class="form-row">
            <div class="col form-group">
                <label>First name </label>   
                  <input type="text" class="form-control" name="fn" required [(ngModel)]="user.firstName"
                   #fn="ngModel">

            <!-- first name field validation.// -->
            
            <div *ngIf="(fn.touched || form.submitted)">
                <div *ngIf="fn.errors?.required" class="red">
                   *First Name is required.
                </div>
            </div>
            </div>
            <!-- form-group end.// -->

            

            <div class="col form-group">
                <label>Last name</label>
                  <input type="text" class="form-control" name="ln" required [(ngModel)]="user.lastName"
                  #ln="ngModel">
             <!-- last name field validation.// -->
            
            <div *ngIf="(ln.touched || form.submitted)">
                <div *ngIf="ln.errors?.required" class="red">
                   *Last Name is required.
                </div>
            </div>   
            </div> <!-- form-group end.// -->
        </div> <!-- form-row end.// -->
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" email name="email" required [(ngModel)]="user.email"
            #email="ngModel">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>

            <!-- email field validation.// -->
            
            <div *ngIf="(email.touched || form.submitted)">
                <div *ngIf="email.errors?.required" class="red">
                    *email is required.
                </div>

                <div *ngIf="email.errors?.email" class="red">
                    *email is invalid.
                </div>
            </div>   
        </div>
         <!-- form-group end.// -->
        <div class="form-group">
                <label class="form-check form-check-inline" *ngFor="let gender of genders">
              <input class="form-check-input" type="radio" name="gende" [value]="gender" [(ngModel)]="user.gender"
               #gende="ngModel">
              <span class="form-check-label"> {{gender | titlecase}} </span>
            </label>
        </div>
         <!-- form-group end.// -->

        <div class="form-row">
            <div class="form-group col-md-6">
              <label>City</label>
              <input type="text" class="form-control" name="city" required [(ngModel)]="user.city"
              #city="ngModel">

              <!-- city field validation.// -->
            
            <div *ngIf="(city.touched || form.submitted)">
                <div *ngIf="city.errors?.required" class="red">
                   *city is required.
                </div>
            </div> 
            </div> 
            <!-- form-group end.// -->
            <div class="form-group col-md-6">
              <label>Country</label>
              <select id="inputState" class="form-control" name="Country" required [(ngModel)]="user.country"
              #country="ngModel">
                    <option *ngFor="let country of countrys" [value]="country">{{country | titlecase}}</option>
              </select>
            </div>
             <!-- form-group end.// -->
        </div>
         <!-- form-row.// -->
        <div class="form-group">
            <label>Create password</label>
            <input class="form-control" type="password" minlength="8" appPasswordPattern  maxlength="12"
             name="password" required [(ngModel)]="user.password" #password="ngModel">

             <!-- password validation.// -->
             <span class="text-danger" *ngIf="(password.touched || form.submitted) &&
              password.errors?.required">
                 Password is required
            </span>
             <span class="text-danger" *ngIf="(password.touched || form.submitted) && password.errors?.invalidPassword">
                 Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                 letter and 1 number
            </span>
        </div>
         <!-- form-group end.// -->  

         <!-- form-row.// -->
        <div class="form-group">
            <label>Confirm password</label>
            <input class="form-control" type="password" 
            name="confirmPassword" required [(ngModel)]="user.cnfPassword" #confirmPassword="ngModel">

            <span class="text-danger" *ngIf="(confirmPassword.touched || form.submitted) && confirmPassword.errors?.required">
                Confirm Password is required
            </span>
            <span class="text-danger" *ngIf="(confirmPassword.touched || form.submitted) && confirmPassword.errors?.passwordMismatch">
                Passwords doesnot match
            </span>
        </div>
         <!-- form-group end.// -->

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Register  </button>
        </div> <!-- form-group// -->  
        
        <div *ngIf="isRegisterd" class="red">
              Registration Successful....
        </div>
        <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
    </form>
    </article> <!-- card-body end .// -->
    <div class="border-top card-body text-center">Have an account? <a routerLink="/">Log In</a></div>
    </div> <!-- card.// -->
    </div> <!-- col.//-->
    
    </div> <!-- row.//-->
    
    
