<div class="container text-center">
<div class="row">
  <div class="col s8 offset-s2">
    <h2 class="header">Completed!</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="./assets/image/trophy.png" style="width: 250px;height : 250px;">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4>{{result.name}}</h4> 
          <h3>{{result.score}}/20</h3>
          <span>Time Elapsed : {{result.timespent}}</span>
        </div>
        <div class="card-action">
          <button class="btn" (click)="OnSubmit()">Submit</button>
        </div>
      </div>
      <!-- <a class="btn-floating halfway-fab waves-effect waves-light red" (click)="restart()">
        <i class="material-icons">replay</i>
      </a> -->
    </div>
  </div>
</div>
</div>
