<br><br><br><br>

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="./assets/image/quizimage.png" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form #form="ngForm" (ngSubmit)="login()">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="username" (blur)="call()" class="form-control input_user"
                         required [(ngModel)]="user.userName" #name="ngModel">
                    </div>

                     <!-- user name field validation.// -->
            
                     <div *ngIf="(name.touched || form.submitted)">
                        <div *ngIf="name.errors?.required" class="red">
                            *user Name is required.
                        </div>
                    </div>


                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" class="form-control input_pass"
                         required [(ngModel)]="user.password" #password="ngModel">
                    </div>

                    <!-- password field validation.// -->
            
                    <div *ngIf="(password.touched || form.submitted)">
                        <div *ngIf="password.errors?.required" class="red">
                           *password is required.
                        </div>

                        <div *ngIf="invalid" class="red">
                             *invalid password...
                        </div>
                      </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                            <label class="custom-control-label" for="customControlInline">Remember me</label>
                        </div>
                    </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                 <button type="submit" name="button" class="btn login_btn">Login</button>
               </div>
                </form>
            </div>
    
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Don't have an account? <a routerLink="/register" class="ml-2">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center links">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
