
  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading bg-dark" style="color: white;">Select Subject </div>
      <div class="list-group list-group-flush">
        <div (click)="check(course.id)" *ngFor="let course of courseDetail">
          <button  class="list-group-item list-group-item-action bg-light">{{(course.name + ' Test') | titlecase}}</button>
        </div>
        
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-light bg-dark">
        <div style="margin-left: 500px;">
            <a class="navbar-brand" style="color: white;">Quize</a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" style="color: white;" href="/">SignOut</a>
            </li>
        </ul>
      </nav>

      <div *ngIf="notDone">
        <router-outlet></router-outlet>
      </div>

      <div *ngIf="isDone" class="alert alert-info">
        You Written test. can't write again
      </div>
      
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->


  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
